body{
    background-image:
    url(./pexels-johannes-plenio-1632788.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


    font-family: 'VT323', monospace;
    color: #F3F3F3;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 30px;
}
.cartao{
    background-color: #070d12;
    width: 370px;
    border: 2px solid #e126d9;
    border-radius: 10px;
    overflow: hidden;
    transform: translateY(0px);
    animation: float 5s ease-in-out infinite;
   }
@keyframes float{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-30px);
    }
    100%{
        transform: translateY(0px);
    }
}
.cartao .minhas-informacoes{
       padding: 20px;
       display: flex;
       flex-direction: column;
       align-items: center; /*alinha 
       horinzontalmente por causa do 
       flex direction*/
       gap: 10px;
}
.cartao .minhas-informacoes img{
    border-radius: 50px;
    border: 4px solid #02d08f;
}
.cartao .minhas-informacoes .nome{
    font-size: 26px;
}
.cartao .minhas-informacoes .cargo{
    font-size: 20px;
    color: #b8bbc5;
}
.cartao .conteudo{
    background-color: #070d12;
    margin-top: 15px;
}
.cartao .abas{
    display: flex;
}
.cartao .abas .aba{
  width: 50%;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  cursor: pointer;
  transition: background-color 0.
  2s ease-in-out;
}
.cartao .abas  img{
    width: 30px;
}
.cartao .abas .aba.selecionado{
    background-color: #262626;
}
.cartao .informacoes-abas{
    background-color: #262626;
}
.cartao .abas .aba:hover{
    background-color: #414141;
}

.informacoes-abas .informacao{
    min-height: 260px;
    padding: 15px;
    display: none;
    
}
.informacoes-abas .informacao.selecionado{
     display: block;
}
.informacoes-abas .sub-titulo{
    font-size: 22px;
    margin-bottom: 25px;
    text-align: center;
}
.informacoes-abas .descricao{
    font-size: 20px;
    max-height: 180px;
    overflow-y:auto;
}
::-webkit-scrollbar{
    background-color: #070d12;
    width: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px ;
}
::-webkit-scrollbar-thumb{
    background-color: #fff;
    border-radius: 5px;
}
.informacoes-abas .descricao span{
    color: #02d08f;
}
.redes-sociais{
    display: flex;
    flex-direction: column;
    gap: 25px;
    max-height: 180px;
    overflow-y: auto;
}
.redes-sociais li a{
    background-color: red;
    width: 250px;
    display: block;
    color: #F3F3F3;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    transition: opacity 0.3s
    ease-in-out;
}
.redes-sociais li a:hover{
    opacity: 0.8;
}
.redes-sociais .corriculo{
    background-color: #06c185;
}
.redes-sociais .Linkedin{
    background-color: blue;
}
.redes-sociais .github{
    background-color: #070d12;
}
