*{
    margin: 0px;
    padding: 0px;
}
body{
    /* background-color: rgb(83, 79, 79);
    border-radius: 10px; */



    border-radius: 20px;
    background-image: url('./Kaufsuch2.jpg');
    
    /* background-color:  #ffa500; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    margin-top: 150px;
    color: rgb(255, 255, 255);
    font-family:'Playfair', serif;
    background-attachment: fixed;

    
}
.itau{
    width: 150px;
    margin-right: 200px;
    background-attachment: fixed;
    
}
.mulher{
    background-color: blue;
    margin-top: 300px;
}
.bg{
    padding: 10px;
    margin: 50px;
    background-image: url('./Heavenly\ Strike.jpeg');
}
.bg-imagen{
    margin: 0px;
    width: 1920px;
    height: 1080px;
    color: aliceblue;
}
h1{
    text-align: center;
} 
  
.bg-position{
    background-position: center;
    height: 1080px;
}.bg-fixed{
    background-attachment: fixed;
    height: 800px;
}      
.bg-repeat{
   /* ? */
}   
main{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}                              
section{
   background-attachment: fixed;

}
.cadastra-se{
   margin-right: 120px;
}
p{
    margin-right: 130px;
}
select:hover{
    padding: 20px;
}
.nome-email{
    padding: 10px;
    
}
input{
    padding: 20px;
    
}
input::{
    border-color: blue;
}
input:hover{
   border-color: blue;
    background-color: rgb(245, 250, 248);
}
::-webkit-scrollbar-button{
    background-color: red;
}
input:active{
    background-color: rgb(215, 215, 223);
    border-color: blue;
}
main section .nome{
    border-radius: 20px;
    padding-right: 100px;
    margin-top: 5px;
    border-color: rgb(255, 255, 255);
}
main section .email{
   padding-right: 100px;
   margin-top: 5px;
   border-radius: 20px;
   border-color: rgb(255, 255, 255);
}
main section .senha{
    margin-top: 5px;
    padding-right: 100px;
    border-radius: 20px;
    border-color: rgb(255, 255, 255);
}
main section .data-nacimento{
  
    padding: 20px;
    
}
main section .dia{
    background-color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 20px;
    margin-right: 20px;
    
}
main section .mes{
    background-color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 20px;
    margin-right: 20px;
}
main section .data{
    background-color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 20px;

}
main section .genero{
    
    padding: 20px;
}
main section .botao{
    background-color: orange;
    margin-top: 10px;
    padding: 15px;
    padding-left: 50px;
   padding-right: 50px;
    border-radius: 5px;
    margin-bottom: 50px;
    border-color: aliceblue;
    
}
/* section{
    border-radius: 20px;
    background-image: url('./Itaú\ \(ITUB4\)_\ banco\ lança\ vertical\ de\ vendas\ online.jfif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 50px;
} */
section{
   /* margin-right: 70px; */
}
/* .botao{
    background-color: rgb(128, 99, 47);
} */
